@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none;
}

.text-align {
  text-align: left;
}

.text-align {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue,
.text-primary {
  color: #006fe9;
}

.text-red {
  color: #d70205;
}

.text-green {
  color: #00c9a7;
}
